*{
    margin: 0;

}
section header {
    width: 1580px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.594);
    height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0.5);
}